.table-borderless {
    border: 0px;
}

.winner-heading {
    color: green;
    font-family: 'Courgette', cursive;
}

.user-list {
    color: #0c0546;
    font-family: 'Courgette', cursive;
}

.fa {
    font-size: 10px;
}

button > a {
    color: white;
}

.shadow {
    box-shadow: 0 .5rem 1rem green!important;
}

h1 {
    font-family: 'Courgette', cursive;
    color: #0c0546;
}

.table td {
    padding: 0.25rem;
}

.link { 
    color: white; 
} 

.link:hover {
    color: white;
    text-decoration: none;
}